/* Import for google fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:400,500");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background: #dddddd; */
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
	line-height: 24px;
	color: #777;
}
.section {
  padding: 80px 0 40px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
#home .main-wrap {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.7)),
    url(./images/bg-home.jpg);
  background-position: center center;
  background-size: cover;
  align-items: center;
  height: 100%;
  transition: background-image 300ms ease-in 200ms;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
#home .main-wrap .row p {
  font-family: "Raleway", sans-serif;
  font-size: 1.7em;
  line-height: 24px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 25px auto;
}
#home .main-wrap .row p span {
  background-color: #f7465b;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 4px 20px;
  transform: rotate(45deg);
}
#home .main-wrap .row a {
  width: 150px;
  height: 45px;
  line-height: 45px;
  padding: 0px;
  margin: 10px;
  color: #fff;
}

@media only screen and (max-width:768px) {
  .image-first{
    display: none !important;
  }
}

.about-me {
  background-color: #f7465b !important;
}
.about-me:hover {
  background-color: #fff !important;
  color: #f7465b !important;
  border: none;
}
.contact-me {
  border: 1px solid #f7465b;
}
.contact-me:hover {
  background-color: #f7465b !important;
}
.box {
  transform: translate(-50%, -50%);
}

/* First Animation */
#home .arrow {
  position: relative;
  text-align: center;
  /* left: 30%;
  bottom: 0; */
}
.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow 2s infinite;
}
.box span:nth-child(1) {
  animation-delay: -0.2s;
}
.box span:nth-child(2) {
  animation-delay: -0.4s;
}
@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
    /* transform: rotate(45deg) translate(-20px, -20px); */
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* #home a.animated svg {
  position: relative;
  animation: upDown 2s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
} */

/* Nav bar styling */
#header {
  /* transition: all 0.5s ease; */
  position: sticky;
  /* bottom: 0 !important; */
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px 0px;
  transition: all 0.4s ease-in-out 0s;
  border-color: rgb(231, 231, 231);
  z-index: 1;
}

header nav li a:hover {
  color: rgb(247, 70, 91) !important;
  border-bottom: 2px solid rgb(247, 70, 91);
}
header span.text-lowercase {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(247, 70, 91);
}
/* About Section */
#about {
  background-color: #fff;
}
/* info tabs of about */
.info-tabs .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.info-tabs .tab-content {
  border: 1px solid rgb(247, 70, 91);
}
.nav-tabs .nav-link {
  margin: 0 1px;
  background: #ce4555 !important;
  color: #fff;
}

.nav-tabs button.active,
.nav-tabs .nav-link:hover {
  background: #fff !important;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(247, 70, 91);
  border-bottom: none;
}
.nav-tabs>button {
  border-bottom: none !important;
}
#about .profile-intro {
  margin-bottom: 60px;
}

#about .profile-intro .profile-image {
  margin-bottom: 40px;
}

#about .profile-intro .profile-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.separator {
  position: relative;
  width: 70px;
  height: 3px;
  background-color: #f7465b;
  margin: 10px auto;
}
.separator.about {
  
  margin: 10px;
}

p.personal-info {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  color: #777;
}

@media only screen and (max-width: 768px) {
  #tab-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .personal-info-details {
    order: -1;
  }
}
/* Section Ready */
#ready {
  background: rgb(247, 70, 91);
}

#ready a {
  color: rgb(255, 255, 255);
  margin: 0px 10px 40px;
}

.btn-custom {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  border-radius: 0px;
  padding: 12px 25px;
  background: transparent;
  transition: all 0.3s cubic-bezier(0.68, -0.07, 0.25, 0.93) 0s;
  border: 1px solid rgb(247, 70, 91);
}

/* Experience/Timeline */
#experience {
  background-color: #fff;
}

.progress-bar {
  background: rgb(247, 70, 91);
}


/* Skills */
a.float-end {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #d6e3f0;
  /* emoji don't behave like regular fonts
     so this helped position it correctly */
  padding: 0.25rem;
}



/* Portfolio/Projects */
#portfolio .section-intro {
  margin-bottom: 60px;
}
#portfolio .section-intro h2 {
  margin-bottom: 10px;
}
.controls {
  margin-bottom: 40px;
}
.controls .btn-custom:hover {
  background-color: rgb(247, 70, 91);
  color: #fff;
}
#portflio .project {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 40px;
}
#portfolio .progress .project-img-wrapper {
  transition: all 0.5s ease-in-out;
}

#portfolio .progress .project-img-wrapper::selection {
  color: #fff;
}

#portfolio .center-block {
  /* display: block; */
  margin-right: auto;
  margin-left: auto;
  height: 270px;
  width: auto;
}

.row>.interested {
  margin: 40px auto;
}

.row>.interested .btn-custom {
  border: 1px solid rgb(247, 70, 91) !important;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(51, 51, 51) !important;
}

.row>.interested .btn-custom:hover {
  background-color: rgb(51, 51, 51);
  color: #fff !important;
  border: none !important;
}

.caption {
  opacity: 0;
}
.caption:hover {
  opacity: 1;
}
#portfolio project:hover .caption{
  opacity: 1;
}
/* Testimonials/Refrees */

.carousel-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

#carouselExampleIndicators {
  margin: 50px auto;
}
.carousel-item .text-align-center {
  margin: auto 14em;
}

/* Contact Form */
#contact .row:nth-child(1) {
  margin-bottom: 60px;
}
#contact .row:nth-child(2) {
  margin-bottom: 40px;
}
/* w3schools */
.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  
}

.icon {
  margin: 10px 0 0 0;
}
.input-container>div {
  padding: 10px;
  background: rgb(247, 70, 91);
  color: white;
  min-width: 50px;
  text-align: center;
  align-items: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 0 8px 8px 0;

}
.input-field:focus {
  border: 2px solid rgb(247, 70, 91);
}

/* Set a style for the submit button */
.contact-section .btn {
  background-color: rgb(247, 70, 91);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}


/* Icons */

#contact a {
  padding: 12px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: #555;
  color: #eee;
  border-radius: 50%;
}

#contact a.fa-linkedin:hover {
  background-color: #2867B2;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#contact a.fa-instagram:hover {
  background-color: rgba(244, 111, 48,1);
  background: linear-gradient(225deg,rgba(195, 42, 163,0.8), rgba(76, 95, 215,0.8), rgba(244, 111, 48,1));
  
}
#contact a.fa-github:hover {
  background-color: #222;
}
#contact a.fa-codepen:hover {
  background-color: #222;
}
#contact a.fa-dribbble:hover {
  background-color: #ea4c89;
}
#contact a.fa-facebook:hover {
  background-color: #3b5998;
}
#contact a.fa-twitter:hover {
  
  background-color: #1da1f2;
}




/* footer */
footer {
  left: 0%;
  bottom: 0%;
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 12px;
}
